<div class="container-fluid">
  <app-header topHeaderCss="top-cadastro" headerCss="tit-cadastro" headerTitle="Inscrição">
  </app-header>
  <!-- Conteudo-->
  <div class="container form-cadastro">
    <form autocomplete="off" [formGroup]="formData">
      <h2>Selecione os campos abaixo</h2>
      <div class="form-group">
        <!-- Selecionar encontro -->
        <select class="form-control form-control-lg" name="evento" formControlName="evento" (change)="onChangeEvento()">
          <option value="">Qual encontro deseja participar?</option>
          <option [value]="d.chave" *ngFor="let d of eventos">{{d.descricao}}</option>
        </select>
      </div>
      <div class="form-group" *ngIf="hasEvento">
        <!-- Data do Encontro -->
        <input type="text" class="form-control" name="dataFmt" formControlName="dataFmt" placeholder="dd/mm/yyyy">
        <cite>Este campo não é selecionável</cite>
      </div>
      <div class="form-group" *ngIf="hasEvento">
        <!-- Selecionar tipo de cadeira -->
        <label>Selecione o tipo de cadeira</label>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline1" name="cadeira" formControlName="cadeira" value="Simples"
            class="custom-control-input" (change)="onChangeCadeira()">
          <label class="custom-control-label" for="customRadioInline1">Individual</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline2" name="cadeira" formControlName="cadeira" value="Dupla"
            class="custom-control-input" (change)="onChangeCadeira()">
          <label class="custom-control-label" for="customRadioInline2">Casal</label>
        </div>
      </div>
      <div class="form-group" *ngIf="hasEvento && hasCadeira">
        <!-- Nome -->
        <input type="text" name="nome" class="form-control tx-cad" placeholder="Digite seu nome" formControlName="nome">
      </div>
      <div class="form-group" *ngIf="hasConjuge && hasEvento && hasCadeira">
        <!-- Nome Conjuge -->
        <input type="text" name="Conjuge" class="form-control tx-cad" placeholder="Digite o nome do Cônjuge"
          formControlName="conjuge">
      </div>
      <div class="form-group" *ngIf="hasEvento && hasCadeira">
        <!-- Nome Email -->
        <input type="email" name="email" class="form-control tx-cad" placeholder="Digite seu email"
          formControlName="email">
      </div>

      <button type="button" class="btn btn-success btn-lg btn-block" (click)="onSubmit()"
        *ngIf="hasEvento && hasCadeira">Confirmar!</button>
    </form>
  </div>
  <!-- Fim Conteudo-->
  <app-footer></app-footer>
</div>
