<div class="container-fluid">
  <app-header topHeaderCss="top-home" headerCss="tit-home" headerTitle="Inscrição para encontro presencial">
  </app-header>
  <!-- Conteudo-->
  <div class="container form-home">
    <form>
      <h2>Fazer minha inscrição</h2>
      <button type="button" class="btn btn-success btn-lg btn-block" routerLink="/cadastro"><i
          class="fas fa-hand-point-right"></i> Clique
        Aqui!</button>
      <hr>
      <h2>Pesquisar minha inscrição</h2>
      <p>Utilize esse campo caso já tenha feito sua inscrição.</p>
      <p>Esta pesquisa não é válida para encontros passados.</p>
      <button type="button" class="btn btn-link btn-lg btn-block btn-pesquisar" routerLink="/pesquisar"><i
          class="fas fa-search"></i> Clique
        Aqui!</button>
    </form>
  </div>
  <!-- Fim Conteudo-->
  <app-footer></app-footer>
</div>
