<div class="container-fluid">
  <div class="row top top-sucesso">
    <div class="col logo-comuna"><img src="assets/img/logo-comuna.png" alt="Logo Comuna Ermelino" class="img-thumbnail">
    </div>
  </div>
  <!-- Conteudo-->
  <div class="container cadastro-erro">
    <div class="alert-erro">
      <i class="fas fa-times"></i>
      <span>Não foi possível realizar sua inscrição!</span>
    </div>
    <hr>
    <div class="alert alert-warning" role="alert">
      Não se preocupe e tente novamente clicando no botão abaixo.
    </div>
    <button type="button" class="btn btn-secondary btn-lg btn-block" routerLink="/cadastro">Tente Novamente</button>
  </div>
  <app-footer></app-footer>
</div>
