<div class="container-fluid">
  <div class="row top top-sucesso">
    <div class="col logo-comuna"><img src="assets/img/logo-comuna.png" alt="Logo Comuna Ermelino" class="img-thumbnail">
    </div>
  </div>
  <!-- Conteudo-->
  <div class="container form-cadastro">
    <form novalidate autocomplete="off" autocapitalize="on" [formGroup]="formData">
      <h2 class="text-center">Faça sua pesquisa</h2>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <input class="form-control form-control-lg" type="id" placeholder="Informe ID" formControlName="id"
              autofocus>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-lg-12">
          <div class="form-group">
            <button type="button" class="btn btn-block btn-custom" (click)="onSubmit()">Confirmar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <app-footer></app-footer>
</div>
