<div class="container-fluid">
  <app-header topHeaderCss="top-busca" headerCss="tit-busca" headerTitle="Pesquisar">
  </app-header>
  <!-- Conteudo-->
  <div class="container form-busca">
    <form autocomplete="off" [formGroup]="formData">
      <div class="form-group">
        <!-- Busca -->
        <input type="email" class="form-control" placeholder="Digite seu E-mail" name="email" formControlName="email">
      </div>
      <button type="button" class="btn btn-success btn-lg btn-block" (click)="onSubmit()"><i class="fas fa-search"></i>
        Pesquisar</button>
      <div class="alert alert-warning" role="alert">
        Utilize esse campo caso já tenha feito sua inscrição.<br>
        Esta pesquisa não é válida para encontros passados.
      </div>
    </form>
  </div>
  <!-- Fim Conteudo-->
  <app-footer></app-footer>
</div>
