<div class="load sala-espera">
  <div class="se-aguarde">
    <div class="row">
      <span class="posicao">
        {{ status }}
      </span>
    </div>
    <div class="row cp-data">
      <span *ngIf="data">
        inscrições para o próximo encontro {{evento}} às {{hora}} do dia {{data}}
      </span>
      <span *ngIf="warning">
        {{warning}}
      </span>
    </div>
    <div class="row cp-botao">
      <button type="button" class="btn btn-outline-light btn-lg" routerLink="/">Ir para home</button>
    </div>
  </div>
</div>
